


.postTitles {
    background-color: var(--white);
    border: 1px solid var(--outline);
    border-radius: 0.5rem;
    padding: 1rem;
}


.postInfo {
    color: var(--info);
    font-family: "Roboto", sans-serif;
}


.allPosts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem;
}

.allPosts>* {
    flex-basis: 31%;
    margin: 0.5rem;
}


.btn-post-details {
    background-color: black;
}



